body::before {
  display: block;
  content: '';
  height: 60px;
  overflow: hidden;
}

#learn-fundamentals h2, #learn-selenium, #questions h2, #instructors h2{
  margin-top: 1.5em;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#learn-fundamentals {
  animation-duration: 2s;
  animation-name: slidein-left;
}

#learn-selenium {
  animation-duration: 2s;
  animation-name: slidein-right;
}

@keyframes slidein-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein-right {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.error {
  border-color: red;
  border-width: 2px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}