body::before {
  display: block;
  content: '';
  height: 60px;
}

#learn h2, #questions h2, #instructors h2{
  margin-top: 1.5em;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}